{% extends "Assets/baseSearch.html"%}
{% load static %}
{% load class_name %}
{% block content %}

<div class='row title-row my-5'>
    <div class='col-12 py-0'>
        <h3 class='my-0 py-0'>{{ count }} results for <b>{{ query }}</b></h3>
    </div>
</div>

{% for object in object_list %}
    {% with object|class_name as klass %}
      {% if klass == 'PostCCB' %}
           <div class='row'>
             <div class='col-12'>
                CCB: <a href='{{ object.get_absolute_url }}'>{{ object.surname }}&nbsp{{ object.middle_name }}&nbsp{{ object.other_names }}</a>
            </div>
          </div>

      {% elif klass == 'PostEFCC' %}
           <div class='row'>
             <div class='col-12'>
                EFCC: <a href='{{ object.get_absolute_url }}'>{{ object.surname }}&nbsp{{ object.middle_name }}&nbsp{{ object.other_names }}</a>
              </div>
            </div>

      {% elif klass == 'PostICPC' %}
           <div class='row'>
                <div class='col-12'>
                   ICPC: <a href='{{ object.get_absolute_url }}'>{{ object.surname }}&nbsp{{ object.middle_name }}&nbsp{{ object.other_names }}</a>
                </div>
            </div>
      {% else %}
           <div class='row'>
             <div class='col-12 col-lg-8 offset-lg-4'>
                <a href='{{ object.get_absolute_url }}'>{{ object }} | {{ object|class_name }}</a>
            </div>
           </div>
        {% endif %}

    {% endwith %}

{% empty %}

    <div class='col-12 col-md-6 mx-auto my-5 py-5'>

            <div class="text-center">
            <img style="width:150px;height:130px;" src="{% static 'img/portfolio/ccb.jpeg' %}" alt="" class="img-fluid"><br><br><br>
            </div>
    <form method='GET' class="search-form" action="{% url 'search' %}">

        <div class="input-group form-group-no-border mx-auto" style="margin-bottom: 0px; font-size: 32px;">
            <span class="input-group-addon cfe-nav" style='color:#000'>
            </span>
            <input type="text" name="q"  data-placement="bottom" data-content="Press enter to search"
             class="form-control cfe-nav mt-0 py-3" placeholder="Search..." value=""
             style="" data-original-title="" title="" autofocus="autofocus"><button type="submit"><i class="fa fa-search"></i> </button>
        </div>

    </form>

    </div>

{% endfor %}

{% endblock content %}