{% extends "Assets/anti/baseCCB.html"%}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <h5><a href="{% url 'displayccb' %}" class="btn btn-outline-success ">Back To CCB</a></h5>
       <form method = "POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
               <legend class="border-bottom mb-4 style" style="color:green;">PARTICULARS OF DECLARANT</legend>
                {{ form.media}}
                {{ form|crispy}}
           </fieldset>
           <div class="form-group">
               <button class="btn btn-outline-info" type="submit">Post</button>
           </div>
        </form>
    </div>

{% endblock %}
